
/*
General CSS properties that affects the entirety of the landing page as a whole
*/
* {
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    padding:0;  
}

@font-face {
    font-family: "Norse Bold";
    src: url("./Norse-Bold.otf");
}

.content {
    display: flex;
    align-items: center;
    width:100vw;
    height:100vh;  
}

/**Left half of the Sign Up Form**/
.left {
    margin-right:auto;
    width:40vw;
    height:100vh;
}

.left > .background {
    display: flex;
    flex-direction: column;
    
    background-image: url("./klemen-vrankar-lcT_p8kLCsc-unsplash.jpg");
    background-size: cover;
    width:100%;
    height:100%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top:20vh;
    min-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    
    color: white;
    background-color: rgba(45, 46, 47,.55)
}

.banner > span {
    font-family: "Norse Bold";
    font-size: 90px;
    margin-top: 20px;
}

.banner > img {
    width:90px;
    height:120px;
}

.source{
    display: flex;
    justify-content: center;
    margin-top: 55vh;

    color: rgb(244, 233, 233);
    font-size: small;


}

.source > p > a {
    color: rgb(244, 233, 233);;
}

/**Right half of the Sign Up Form**/
.right {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
   
    justify-content: space-evenly;
    align-items: center;

    margin-left:auto;
    width:60vw;
    height:100vh;
}

.description {
    display: flex;
    flex-direction: column;
    

    font-weight: bold;
    font-size: 20px;
    width: 40vw;
    margin-right: 10vw;
    
}

.description > p:nth-child(2) {
    margin-top: 15px;
}

/**Actual Form of the Sign Up Sheet**/
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
   
    padding-top: 20px;
    padding-bottom: 25px;
    margin-top: -10vh;

    color:#2d2e2f;
    box-shadow:  10px 5pxrgba(0, 0, 0, 0.2), 10px rgba(0, 0, 0, 0.19);
    font-weight:bold;
}

.form > .header {
    font-size: large;
    color:#2d2e2f;
    background-color: rgb(248, 248, 248);
    padding-top: 30px;
}

.form > .row {
    background-color:rgb(248, 248, 248);
    display: flex;
    flex-wrap:wrap;
}

.form > .row:nth-child(4) {
    padding-bottom: 40px;
    box-shadow: 0 4px 8px -4px gray;
}

.column1, 
.form > .header {
    padding-left: 35px;
    margin-top: -1vh;
}

.column2 {
    margin-left: 35px;
}

.column1, 
.column2 {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-bottom: 5px;
}

.signup {
    margin-top: 3vh;
    margin-left: 3vw;
}

.signup > div > b > a {
    color: #020b4c;
    font-weight: bold;
}

label {
    font-size: x-small;
    font-weight:600;
    color:#2d2e2f;
    margin-bottom: 2px;
}

button {
    color:rgb(247, 241, 241);
    font-weight: bold;
    
    background-color:#020b4c;
    border: 1px solid #020b4c;
    border-radius: 4px;
    margin-bottom: 20px;

    padding: 10px 40px 10px 40px;
}

/**Input validation **/
input {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #bdc1c8;
    padding-left: 5px;
}

input:focus {
    box-shadow:  2px 2px 4px 1px gray;
}

#password:invalid,
#confirm_password:invalid,
#email:invalid,
#phone_number:invalid {
    border-color: rgb(224, 6, 6);
    border-width: 2px;
}




